doctype html
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7  
//if IE 7
  html.no-js.lt-ie9.lt-ie8  
//if IE 8
  html.no-js.lt-ie9  
// [if gt IE 8] <!
html.no-js
  // <![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title About Us
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/templatemo-style.css')
    script(src='js/vendor/modernizr-2.6.2.min.js')
  body
    block content
    footer.site-footer
      .container
        .text-center
          p.copyright-text TEAM JUAN: Romina Bañadera & Tello Tamayo
    script(src='/javascripts/vendor/jquery-1.10.2.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/min/plugins.min.js')
    script(src='/javascripts/min/main.min.js')
